.color-background {
  background-color: rgb(177, 93, 93);
}

.home-header {
  position: relative;
  background-image: linear-gradient(
      rgba(247, 235, 235, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url(../../src/assets/images/white-bookcase.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #333;
  height: 400px;
}

.home-header .text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}