.color-background {
  background-color: rgb(177, 93, 93);
}

.home-header {
  background-image: linear-gradient(
      rgba(247, 235, 235, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url(../../src/assets/images/white-bookcase.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #333;
  height: 400px;
}


.homescreen-css h2 {
  color: #1f1919;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 50px;
}