body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:root {
  --background-color: #ffffff; /* light mode background color */
  --text-color: #000000; /* light mode text color */
  --background-color-dark: #000000; /* dark mode background color */
  --text-color-dark: #ffffff; /* dark mode text color */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

.main-content {
  flex-grow: 1;
}
